@model IEnumerable<Website_KĐCLGD.Models.PHANCONG_BC_TV>
@{
    ViewBag.Title = "PhanCong_Nhom";
    Layout = "~/Views/shared/layout_web.cshtml";
}
<div class="section-4" style="background:#eee">
    <div id="panner" class="carousel slide" data-ride="carousel">
         @{Html.RenderPartial("~/Views/slider/panner_header.cshtml");}
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-lg-12">
                @{Html.RenderPartial("~/Views/partital/MenuChucNang.cshtml");}
                <br>
            </div>
        </div>
        <div class="row ">
             <div class="col-md-3" >
                @{Html.RenderPartial("~/Views/partital/Menu_QLPC.cshtml");}
            </div>
            <div class="col-md-9" >
                <div class="heading wow pulse" style="margin-bottom: -1rem;margin-top: 1rem;">
			        <h2 style="font-weight:700">BẢNG PHÂN CÔNG NHÂN SỰ</h2>
		        </div>
                <form action="~/Views/Website_KĐCLGD/PhanCong_Nhom" method="post">
                <a href="@Url.Action("select_Phan_TV","Website_KĐCLGD")" class="btn btn-primary" style="font-size:15px">Thêm phân công</a>
                    </form>
                    <table class="table table-striped "style="font-size:15px">
                        <thead class="table-dark"  style="font-weight:600">
                            <tr>
                                <td style="text-align:center;vertical-align:middle">STT</td>
                                <td style="text-align:center;vertical-align:middle; width:12%">NHÂN SỰ</td>
                                <td style="text-align:center;vertical-align:middle; width: 55%;">NỘI DUNG CÔNG VIỆC</td>
                                <td style="text-align:center;vertical-align:middle">NGÀY PC</td>
                                <td style="text-align:center;vertical-align:middle">THỜI HẠN</td>
                         
                              
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                @{
                    var index = 1;
                    foreach (var item in Model)
                    { 
                    <tr>
                        <td>@index</td>
                        <td>@item.NHANSU.TEN_NS </td>
                        <td>@item.NOIDUNG_PC</td>
                        <td>@item.NGAYPHANCONG.Value.ToString("d")</td>
                        <td>@item.THOIHAN.Value.ToString("d")</td>
                        <td><button type="button" class="btn btn-danger"><a href="/Website_KĐCLGD/Delete_PhanCong/@item.MAPHANCONG_TV" style="color:#fff;text-decoration: none">Xóa</a></button></td>
                    </tr>
                        index++;
                    }   
                }
            </tbody>
        </table>
            </div>
        </div>
    </div>
    
</div>

